<div class="row">
  <div class="col-lg-4 offset-lg-8">
    <div class="proceed-checkout">
      <ul>
        <li class="subtotal">Subtotal <span>$240.00</span></li>
        <li class="cart-total">Total <span>$240.00</span></li>
      </ul>
      <a href="/checkout" class="proceed-btn">PROCEED TO CHECK OUT</a>
    </div>
  </div>
</div>
