<div id="preloder">
  <div class="loader"></div>
</div>

<header class="header-section">
  <%- include('./top', { email, phone }) %> <%- include('./inner', { cartItems, cartTotal }) %> <%-
  include('./nav') %>
</header>
